In [28]:
#Installing dependencies
import pandas as pd
import docx2txt as dtxt
import requests
import json

In [3]:
# We specify the URL that we are targeting for the API. 
# In this case it is a cocktail recipe page and it has a API enabled to get
# info regarding cocktails.
url = "https://www.thecocktaildb.com/api/json/v1/1/random.php"
payload = requests.get(url)

In [4]:
# The information returned is stored in the form of a list of Json 
# data structures.
payload.json()

{'drinks': [{'idDrink': '17212',
   'strDrink': 'Espresso Martini',
   'strDrinkAlternate': None,
   'strTags': 'IBA,NewEra',
   'strVideo': None,
   'strCategory': 'Cocktail',
   'strIBA': 'New Era Drinks',
   'strAlcoholic': 'Alcoholic',
   'strGlass': 'Cocktail glass',
   'strInstructions': 'Pour ingredients into shaker filled with ice, shake vigorously, and strain into chilled martini glass',
   'strInstructionsES': None,
   'strInstructionsDE': 'Zutaten in einen mit Eis gef체llten Shaker geben, kr채ftig sch체tteln und in ein gek체hltes Martini-Glas abseihen.',
   'strInstructionsFR': None,
   'strInstructionsIT': 'Versare gli ingredienti in uno shaker pieno di ghiaccio, shakerare energicamente e filtrare in un bicchiere da martini freddo',
   'strInstructionsZH-HANS': None,
   'strInstructionsZH-HANT': None,
   'strDrinkThumb': 'https://www.thecocktaildb.com/images/media/drink/n0sx531504372951.jpg',
   'strIngredient1': 'Vodka',
   'strIngredient2': 'Kahlua',
   'strIngredient3': 'Sugar syrup',
   'strIngredient4': None,
   'strIngredient5': None,
   'strIngredient6': None,
   'strIngredient7': None,
   'strIngredient8': None,
   'strIngredient9': None,
   'strIngredient10': None,
   'strIngredient11': None,
   'strIngredient12': None,
   'strIngredient13': None,
   'strIngredient14': None,
   'strIngredient15': None,
   'strMeasure1': '5 cl',
   'strMeasure2': '1 cl',
   'strMeasure3': '1 dash',
   'strMeasure4': None,
   'strMeasure5': None,
   'strMeasure6': None,
   'strMeasure7': None,
   'strMeasure8': None,
   'strMeasure9': None,
   'strMeasure10': None,
   'strMeasure11': None,
   'strMeasure12': None,
   'strMeasure13': None,
   'strMeasure14': None,
   'strMeasure15': None,
   'strImageSource': None,
   'strImageAttribution': None,
   'strCreativeCommonsConfirmed': 'No',
   'dateModified': '2017-09-02 18:22:31'}]}

In [5]:
payload = requests.get(url)
data = []
dfd = pd.DataFrame(data)
payload
# We see a 200 code response which indicates a succesfull retrieve of the data.

In [6]:
# We take the first 10 drinks and for that we slice the drinks list of 
# elements to take the first element in position [0], after that we 
# recover specifically IdDrink, strDrink, strAlcoholic, strGlass
# from the JSONS to create columns in a dataframe format
data = []
dfd = pd.DataFrame(data)
for i in range(1,11):
    payload.json()
    id_ = payload.json()['drinks'][0]['idDrink']
    name = payload.json()['drinks'][0]['strDrink']
    alc = payload.json()['drinks'][0]['strAlcoholic']
    cup = payload.json()['drinks'][0]['strGlass']
    data = [id_,name,alc,cup]

In [7]:
data

['17254', 'Bijou', 'Alcoholic', 'Cocktail glass']

In [8]:
data=[]
i=0
while  i<10:
    
    url = "https://www.thecocktaildb.com/api/json/v1/1/random.php"
    payload = requests.get(url).json()
    template = {
        "id": payload['drinks'][0]['idDrink'],
        "name": payload['drinks'][0]['strDrink'],
        "alcoholic": payload['drinks'][0]['strAlcoholic'],
        "glass":payload['drinks'][0]['strGlass'],
        
        }
    data.append(template)
    i+=1

In [9]:
data

[{'id': '12792',
  'name': 'Amaretto Liqueur',
  'alcoholic': 'Alcoholic',
  'glass': 'Collins Glass'},
 {'id': '11006',
  'name': 'Daiquiri',
  'alcoholic': 'Alcoholic',
  'glass': 'Cocktail glass'},
 {'id': '13675',
  'name': "Flander's Flake-Out",
  'alcoholic': 'Alcoholic',
  'glass': 'Collins Glass'},
 {'id': '11985',
  'name': 'Quarter Deck Cocktail',
  'alcoholic': 'Alcoholic',
  'glass': 'Cocktail glass'},
 {'id': '11338',
  'name': 'English Highball',
  'alcoholic': 'Alcoholic',
  'glass': 'Highball glass'},
 {'id': '11003',
  'name': 'Negroni',
  'alcoholic': 'Alcoholic',
  'glass': 'Old-fashioned glass'},
 {'id': '11054',
  'name': 'Arthur Tompkins',
  'alcoholic': 'Alcoholic',
  'glass': 'Whiskey sour glass'},
 {'id': '16100',
  'name': 'Amaretto Stone Sour Alternative',
  'alcoholic': 'Alcoholic',
  'glass': 'Highball glass'},
 {'id': '11542',
  'name': 'Jack Rose Cocktail',
  'alcoholic': 'Alcoholic',
  'glass': 'Cocktail glass'},
 {'id': '16995',
  'name': 'Orange Whip',
  'alcoholic': 'Alcoholic',
  'glass': 'Collins Glass'}]

In [10]:
dfd = pd.DataFrame(data, columns = data[0].keys())

In [11]:
data[0]

{'id': '12792',
 'name': 'Amaretto Liqueur',
 'alcoholic': 'Alcoholic',
 'glass': 'Collins Glass'}

In [12]:
# As a result of previous operation we are left with a pretty Pandas 
# Dataframe that could later be used to push on to a Cloud SQL Instance
dfd

      id                             name  alcoholic                glass
0  12792                 Amaretto Liqueur  Alcoholic        Collins Glass
1  11006                         Daiquiri  Alcoholic       Cocktail glass
2  13675              Flander's Flake-Out  Alcoholic        Collins Glass
3  11985            Quarter Deck Cocktail  Alcoholic       Cocktail glass
4  11338                 English Highball  Alcoholic       Highball glass
5  11003                          Negroni  Alcoholic  Old-fashioned glass
6  11054                  Arthur Tompkins  Alcoholic   Whiskey sour glass
7  16100  Amaretto Stone Sour Alternative  Alcoholic       Highball glass
8  11542               Jack Rose Cocktail  Alcoholic       Cocktail glass
9  16995                      Orange Whip  Alcoholic        Collins Glass

In [13]:
# Here is another example on a website with information on airplanes
token = "ZF7xNEuLAZ5DKLQAEGVUq6VquGLQdsL7"
url = "https://api.onairnet.xyz/imf/aircraft/auth/last-5-country"

In [14]:
req_data= {"country":"CO"}
header = {"oanToken":token}
payload = requests.post(url, data = req_data,headers=header)

In [15]:
payload

In [16]:
payload.json()['response']

[{'id': 'HK-5388_10693',
  'plate': 'HK-5388',
  'model': 'A20N',
  'model_name': 'Airbus A320-251N',
  'country': 'CO',
  'built': '2022-03-01T00:00:00.000Z',
  'serial': '10693'},
 {'id': 'HK-5390_10691',
  'plate': 'HK-5390',
  'model': 'A20N',
  'model_name': 'Airbus A320-251N',
  'country': 'CO',
  'built': '2022-01-01T00:00:00.000Z',
  'serial': '10691'},
 {'id': 'HK-5389_10677',
  'plate': 'HK-5389',
  'model': 'A20N',
  'model_name': 'Airbus A320-251N',
  'country': 'CO',
  'built': '2021-11-01T00:00:00.000Z',
  'serial': '10677'},
 {'id': 'HK-5378_10570',
  'plate': 'HK-5378',
  'model': 'A20N',
  'model_name': 'Airbus A320-251N',
  'country': 'CO',
  'built': '2021-09-01T00:00:00.000Z',
  'serial': '10570'},
 {'id': 'HK-5367_10487',
  'plate': 'HK-5367',
  'model': 'A20N',
  'model_name': 'Airbus A320-251N',
  'country': 'CO',
  'built': '2021-05-01T00:00:00.000Z',
  'serial': '10487'}]

In [18]:
#last 5 planes made in Colombia and Austria
dataco = []
for i in payload.json()['response']:
    dataco.append(i)

In [19]:
dfco = pd.DataFrame(dataco, columns = dataco[0].keys())

In [20]:
dfco

,id,plate,model,model_name,country,built,serial
0,HK-5388_10693,HK-5388,A20N,Airbus A320-251N,CO,2022-03-01T00:00:00.000Z,10693
1,HK-5390_10691,HK-5390,A20N,Airbus A320-251N,CO,2022-01-01T00:00:00.000Z,10691
2,HK-5389_10677,HK-5389,A20N,Airbus A320-251N,CO,2021-11-01T00:00:00.000Z,10677
3,HK-5378_10570,HK-5378,A20N,Airbus A320-251N,CO,2021-09-01T00:00:00.000Z,10570
4,HK-5367_10487,HK-5367,A20N,Airbus A320-251N,CO,2021-05-01T00:00:00.000Z,10487

In [21]:
# Requesting airplane data filtering on Country: AT
req_data= {"country":"AT"}
header = {"oanToken":token}
payload = requests.post(url, data = req_data,headers=header)

In [22]:
payload.json()['response']

[{'id': 'OE-LSM_10142',
  'plate': 'OE-LSM',
  'model': 'A20N',
  'model_name': 'Airbus A320-251N',
  'country': 'AT',
  'built': '2022-07-01T00:00:00.000Z',
  'serial': '10142'},
 {'id': 'OE-ISG_10048',
  'plate': 'OE-ISG',
  'model': 'A21N',
  'model_name': 'Airbus A321-251NX',
  'country': 'AT',
  'built': '2022-01-01T00:00:00.000Z',
  'serial': '10048'},
 {'id': 'OE-GPP_560-6326',
  'plate': 'OE-GPP',
  'model': 'C56X',
  'model_name': 'Cessna 560XLS Citation Excel+',
  'country': 'AT',
  'built': '2022-01-01T00:00:00.000Z',
  'serial': '560-6326'},
 {'id': 'OE-EPG_2073',
  'plate': 'OE-EPG',
  'model': 'PC12',
  'model_name': 'Pilatus PC-12 NGX',
  'country': 'AT',
  'built': '2021-01-01T00:00:00.000Z',
  'serial': '2073'},
 {'id': 'OE-ISE_09399',
  'plate': 'OE-ISE',
  'model': 'A21N',
  'model_name': 'Airbus A321-251NX',
  'country': 'AT',
  'built': '2020-04-01T00:00:00.000Z',
  'serial': '09399'}]

In [23]:
dataat = []
for i in payload.json()['response']:
    dataat.append(i)

In [24]:
dfat = pd.DataFrame(dataat, columns = dataat[0].keys())

In [25]:
dfat

,id,plate,model,model_name,country,built,serial
0,OE-LSM_10142,OE-LSM,A20N,Airbus A320-251N,AT,2022-07-01T00:00:00.000Z,10142
1,OE-ISG_10048,OE-ISG,A21N,Airbus A321-251NX,AT,2022-01-01T00:00:00.000Z,10048
2,OE-GPP_560-6326,OE-GPP,C56X,Cessna 560XLS Citation Excel+,AT,2022-01-01T00:00:00.000Z,560-6326
3,OE-EPG_2073,OE-EPG,PC12,Pilatus PC-12 NGX,AT,2021-01-01T00:00:00.000Z,2073
4,OE-ISE_09399,OE-ISE,A21N,Airbus A321-251NX,AT,2020-04-01T00:00:00.000Z,09399

In [26]:
# Contatenating both Dataframes into a single one,
# now we can explore the data and work comfortably on it if we wanted to.
dfcomp = pd.concat([dfat, dfco], axis=0)
dfcomp

,id,plate,model,model_name,country,built,serial
0,OE-LSM_10142,OE-LSM,A20N,Airbus A320-251N,AT,2022-07-01T00:00:00.000Z,10142
1,OE-ISG_10048,OE-ISG,A21N,Airbus A321-251NX,AT,2022-01-01T00:00:00.000Z,10048
2,OE-GPP_560-6326,OE-GPP,C56X,Cessna 560XLS Citation Excel+,AT,2022-01-01T00:00:00.000Z,560-6326
3,OE-EPG_2073,OE-EPG,PC12,Pilatus PC-12 NGX,AT,2021-01-01T00:00:00.000Z,2073
4,OE-ISE_09399,OE-ISE,A21N,Airbus A321-251NX,AT,2020-04-01T00:00:00.000Z,09399
0,HK-5388_10693,HK-5388,A20N,Airbus A320-251N,CO,2022-03-01T00:00:00.000Z,10693
1,HK-5390_10691,HK-5390,A20N,Airbus A320-251N,CO,2022-01-01T00:00:00.000Z,10691
2,HK-5389_10677,HK-5389,A20N,Airbus A320-251N,CO,2021-11-01T00:00:00.000Z,10677
3,HK-5378_10570,HK-5378,A20N,Airbus A320-251N,CO,2021-09-01T00:00:00.000Z,10570
4,HK-5367_10487,HK-5367,A20N,Airbus A320-251N,CO,2021-05-01T00:00:00.000Z,10487